<template>
  <img alt="Vue logo" src="./assets/logo.png">
  <h1>Livre d'or</h1>
  <MessageList />
</template>

<script>
import MessageList from './components/MessageList.vue'

export default {
  name: 'App',
  setup() {

  },
  components: {
    MessageList
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

img {
  position: absolute;
  bottom: 0;
  width: 15px;
  height: 15px;
}

</style>
